<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Entrepreship</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>Courses</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">school</mat-icon>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>Sponsors</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">money</mat-icon>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span>Networking</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">people</mat-icon>
      </mat-toolbar-row>
  </mat-toolbar>
  
